body {
    margin: 0;
    font-family: tahoma;
    background: #f2f2f2;
}

/* HEADER */
.header {
    width: 100%;
    background: #222;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman";
}

.menu-btn {
    font-size: 26px;
    cursor: pointer;
}

/* SIDE MENU */
.side-menu {
    position: fixed;
    right: -220px;
    top: 0;
    width: 200px;
    height: 100%;
    background: #111;
    padding-top: 60px;
    transition: 0.3s;
}

.side-menu a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

/* STORY PAGE */
.story-container {
    background: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
}

.story-thumb {
    width: 140px;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
}

/* ADD PAGE */
.add-box {
    background: white;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
}

.add-box textarea {
    width: 100%;
    height: 200px;
}

.editor-buttons button {
    font-size: 18px;
    padding: 4px 8px;
    margin: 5px;
}
